@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: 'Poppins', sans-serif;
   
    
  }
  
  /*.cabecalho{
      padding-right: 120px;
      background-color: #3D9ACE;
      
      height: 60px;
      
     
      
  }
  
  .cabecalho label{
      color: white;
      font-size: 30px;
      padding-left: 70px;
      line-height: 60px;
      font-weight: bold;
      
  }
  
  .cabecalho ul{
      line-height: 60px;
  }
  
  .cabecalho ul li :hover{
   background: none;
  
  }
  .cabecalho li a:hover{
      color: black;
      transition: 0.4s;
  }
  
  .button-collapse{
      line-height: 60px;
  }*/
  
  body{
      background: #e9dfdf62;
  
  }
  
  /*Sessão*/
  
  
  main{
  
      /*background: linear-gradient(
      rgba(0,0,0,0.6),
      rgba(0,0,0,0.6) ) ,
      url('fundo1.jpg');*/
     
      
  
      width:100%;
      height: 1009;
      
  
  }
  
  /*MOBILE*/
  @media(max-width: 720px), handheld and (orientation: landscape){
  
   
  
      .areaPostagem{
          max-width: 435px;
          left: -50px;
          margin-top: 200px;
         
      }
  
      .disciplinas{
          min-height: 20px;
          margin-top: -10px;
  
      }
      
      
     
      .feed{
          margin-top:200px;
          margin-left: -190px;
          max-width: 435px;
          height: 500px;
          
      }
      
      
      .areaPostagem button{
          
          
        margin-left: -78%;
      
        max-width: 149px;
       
        
      }
      
      .areaPostagem label{
          margin-top: 70px;
      }
      
  
  }
  
  /*Responsividade no desktop*/
  @media(min-width: 620px) {
  
      #upArquivo{
          padding-left: 40px;
          margin-top:10px;
          
  
      }
  
      .areaPostagem{
          max-width: 670px;
          
          margin-left: 330px;
         
         
      }
  
     
      .feed{
          margin-left: 120px;
          margin-top: 60px;
      }
     
      .disciplinas{
         max-width: 255px;
         min-height: 890px;
         margin-left: 14px;
  
      }
  
      .addDisciplina{
          margin-left: -85px;
      }
  
      .perfil{
      
          margin-top: 20px;
  
      }
      
     
      
      
      .areaPostagem button{
          
          
          margin-left: -10%;
          margin-top: 18px;
          /*max-width: 120px;**/
       
        
      }
      
      .areaPostagem label{
          margin-top: 70px;
          
      }
  
      .chatgeral{
          position: absolute;
          width: 670px;
          height: 43px;
          left: 333px;
          top: 330px;
          background: #3D9ACE;
          
          
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
      }
      
      .chatgeral label{
          color: rgb(255, 255, 255);
          line-height: 40px;
          margin-left: 10px;
          padding-left: 24px;
          font-size: 15px;
          font-weight: bold;
          margin-top: 2px;
          
          
      }
      
  
  }
  
  
  
  /*DESKTOP */
  .perfil{
      position:fixed;
      width: 255px;
      height: 130px;
      background: rgb(255, 255, 255);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      margin-left: 71px;
  }
  .perfil img{
      
  width: 58px;
  height: 58px;
  left: 139px;
  margin-top: 30px;
  margin-left: 30px;
  
  
  }
  
  
  .disciplinas{
      position: absolute;
      width: 400px;
      height: 116px;
      left: 58px;
      top: 320px;
      background: #FFFFFF;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 2px;
  }
  
  .addDisciplina{
  position: absolute;
  width: 256px;
  height: 40px;
  left: 157px;
  top: 279px;
  
  background-color:#3D9ACE;
  ;
  
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  
  }
  .addDisciplina label{
     line-height: 42px;
     padding-left: 69px;
     color: white;
     font-size: 14px;
     font-style: normal;
     font-weight: bold;
  }
  
  .addDisciplina span{
      transform: translate(20%,30%);
  }
  
  
  
  .areaPostagem{
      position: absolute;
      width: 770px;
      height: 350px;
      left:18px;
      top: 110px;
      background: #FFFFFF;
      box-sizing: border-box;
      border-radius: 1px;
      border: 0.1px solid rgba(0, 0, 0, 0.233);
      border-top: none;
      
      
  }
  
  
  
  
  .areaPostagem label{
      margin-top: 10px;
      
  }
  
  
  .areaPostagem button{
    
      width: 130px;
      height: 31px;
      border: none;
      position: absolute;
      font-size: 14px;
      text-transform: none;
    transform: translate(103px,-9px);
      background-color: #3D9ACE;
      color: white;
      border-radius: 3px;
      
  }
  
  .areaPostagem button:hover{
      background-color: rgb(43, 194, 76);
      transition: 0.2s;
  }
  
  .areaPostagem label{
      margin-top: 70px;
  }
  
  .areaPostagem h4{
      
      margin-top: 30px;
      margin-left: 26px;
    
  }


  .areaPostagem h6{
      margin-left: 26px;
      margin-top: 20px;
      
      

  }
  .feed{
     position: absolute;
     top: 565px;
     left:213px;
      width: 670px;
      background: #FFFFFF;
      border:0.1px solid rgba(0, 0, 0, 0.223);
      height: 400px;
      
  }
  
  .d-flex button{
      background: #47AB36;
      color: white;
      font-size: 14px;
      width: 80px;
  }
  
  .d-flex button:hover{
     
      transition: none;
  }
  
  .d-flex input{
      width: 425px;
      font-size: 15px;
  }
  
  .mb-3 input{
      width: 410px;
      margin-top: 25px;
      margin-left: -1px;
  }

  
 

  .tab-content button{
      background-color: #3D9ACE;
      width: 92px;
      height: 31px;
      border: none;
      position: absolute;
      font-size: 14px;
      text-transform: none;
      color: white;
  }

  .tab-content button:hover{
    background-color: rgb(43, 194, 76);
    transition: 0.2s;
  }


  .mb-3 textarea{
      margin-top: 60px;
      width: 600px;
      margin-left: 35px;
  }
  
  
  .navbar-nav li {
      font-size: 15px;
  }
  
  .chat{
      position: absolute;
      width: 255px;
      height: 40px;
      left: 71px;
      top: 220px;
      background: #47AB36;
      color: white;
      font-size: 14px;
      border: none;
      
  }
  
  
  
  .chat p{
     
      font-family: Raleway;
      font-weight: bold;
      margin-top: 1px;
      
      
      padding-left: 23px;
      color: #FFFFFF;
      
  }
  
  .chat span{
      transform: translate(20%,30%);
  }



.tab-content {
    margin-left: 110px;
    
    width: 1100px;
}

.EditarDisciplina{
    width: 600px; 
    height: 500px;
    background-color:white;
    margin-top:40px;
    border: 1px solid rgba(0, 0, 0, 0.37);
    margin-left: -123px;
}

